<form method="GET" action="/rooms">
  <input type="text" class="form-control input-lg" placeholder="{{room}}" id="room" name="room">
  <button type="button" class="btn btn-primary" id="find_button">Find schedule <span class="glyphicon glyphicon-chevron-right"></span></button>
</form>

{{#hasClasses}}
  <h2>{{dayName}} in {{room}}</h2>
  <ul class="classes">
  {{#each classes}}
    <li class="{{DeptAcronym}}{{Number}}" data-half-hours="{{halfHours}}">
      <span class="time">{{StartTime}} - {{EndTime}}</span>
      <h3>{{DeptAcronym}} {{Number}} &middot; {{Title}}</h3>
      <small>{{classType}} &middot; {{Instructor}}</small>
    </li>
  {{/each}}
  </ul>
{{else}}
	<h2>There are no classes in {{room}} on {{dayName}}.</h2>
{{/hasClasses}}