{{#hasClasses}}
  <ul id="days">
  	{{#each days}}
    <li class="day">
  	  <h2>{{dayName}}</h2>
  	  <ul class="classes">
  	  {{#each classes}}
  	    <li class="{{DeptAcronym}}{{Number}}">
          <h3>{{DeptAcronym}} {{Number}}</h3>
          <h4>{{Title}}</h4>
        </li>
  	  {{/each}}
  	  </ul>
  	{{/each}}
  </ul>
{{else}}
	<h2>Room has no classes.</h2>
{{/hasClasses}}