<form method="GET" action="/rooms">
  <input type="text" class="form-control input-lg" placeholder="{{upcase building}} {{room}}" id="room" name="room">
  <button type="button" class="btn btn-primary" id="find_button">Find schedule <span class="glyphicon glyphicon-chevron-right"></span></button>
</form>

{{#hasClasses}}
  <h2>{{dayName}} in {{upcase building}} {{room}}</h2>
  <ul class="classes">
  {{#each classes}}
    {{#if isGap}}
      <li class="gap half-hours-{{halfHours}}">
        <span class="time">{{start_time}} - {{end_time}}</span>
        <h3>Gap</h3>
        <small>This room is free.</small>
      </li>
    {{else}}
      <li class="{{subject}}{{catalog_number}} half-hours-{{halfHours}}">
        <span class="time">{{start_time}} - {{end_time}}</span>
        <h3><a href="http://www.ucalendar.uwaterloo.ca/1314/COURSE/course-{{subject}}.html#{{subject}}{{catalog_number}}">{{subject}} {{catalog_number}}</a> &middot; {{title}}</h3>
        <small>{{classType}} &middot; {{instructor}}</small>
      </li>
    {{/if}}
  {{/each}}
  </ul>
{{else}}
	<div class="alert alert-danger push-down">There are no classes in {{upcase building}} {{room}} on {{dayName}}.</div>
{{/hasClasses}}

<div id="time-traveler">
  <a href="/rooms/{{downcase building}}/{{room}}/{{downcase lastWeekDay}}" class="previous"><span class="glyphicon glyphicon-chevron-left"></span> {{lastWeekDay}}</a>
  <a href="/rooms/{{downcase building}}/{{room}}/{{downcase nextWeekDay}}" class="next">{{nextWeekDay}} <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<script type="text/javascript">
  mixpanel.track(
    "Viewed Room Schedule",
    {
      'Building and Room': '{{building}} {{room}}',
      'Building': '{{building}}',
      'Room Number': '{{room}}',
      'Day of Week': '{{dayName}}',
      'Today?': '{{isToday}}',
      '# of Classes': {{numberOfClasses}},
      '# of Gaps': {{numberOfGaps}}
    });
</script>